*{
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.button {
   border-radius: 30px;
}

.container ::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-box{
    max-width: 850px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    background-color: white;
}

.left{
    height: 100%;
    background: url("https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe/public/r94-gateau-cremeux-chocolat-entremets_ss.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=500&w=393") no-repeat center;
    background-size: cover;
}

h2{ 
    color: brown;
    text-align: center;   
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Solitreo', cursive;

}

.field{
    width: 95%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 2px solid brown;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 20px;
    transition: .3s; 
    /* cest pour faire la presention de mon tableau */
}

button:hover{
    background-color: white;
}
button:hover{ 
    background-color: brown;
}

.back{
    color: brown;
    text-decoration: none;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    margin-left: 12%;
    padding-bottom: 2px;
    color: white ;
    text-align: center;	
    line-height: 1px;
    font-size: 17px;
    margin-top: -50px;
}

h6{
    color: brown;
}

