nav{
    margin-left: 80%;
}

button{
    background-color: whitesmoke;  
    border: 1px solid black; 
    border-radius: 5px;
}

 body{
    background-color: #669184;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;    
    color: #669184;
}

a:hover{ 
    background-color:  lightgreen; 
}

#sidebar{
    margin-left: 50px;
    float: left;
    border-radius: 10px;
    box-shadow: 7px 7px 20px #00D091;
    padding: 6px;
    font-family: 'Solitreo', cursive;
    line-height: 30px;
    margin-top: 170px;
    color: #165844;
    background-color: #6BD5B5;
}

.container{
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 5%;
}
  
header{
    text-align: center;
    line-height: 70px;
}

h2{
    font-family: 'Solitreo', cursive;
    margin-left: 26%;
    text-decoration: underline;
    color: #014248;
}

p{
    text-align: center;
    font-family: 'Solitreo', cursive;
    color: #014248;
    text-decoration:underline;
}

.alreadyBought{
    text-decoration: line-through;
}

.fa-solid .fa-xmark-large{
    width: 5px;
    height: 5px;
    color: red;
}

.cake{
    border-radius: 20px;
    box-shadow: 7px 7px 20px #00D091;
    margin-left: 50px;
    margin-top: -90px;
}

dl{
    text-align: center;
    line-height: 20px;
    font-family: 'Itim', cursive;
    color: whitesmoke;
}

dt{
    margin-left: 40px;
    color: #014248;
}

.yummy{
    text-decoration: none;
    color: black;
    margin-left: 51%;
    font-family: 'Itim', cursive;

} 

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    margin-left: 20%;
    padding-bottom: 2px;
    color: white ;
    text-align: center;	
    line-height: 1px;
    font-size: 17px;
    margin-top: -80px;
}

.more{
    color: #014248;
}