
body{
    background-color: #D28CB0;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;    
    color: #69113E;
}

a:hover{ 
    background-color:  white; 
}

#sidebar{
    margin-left: 100px;
    float: left;
    border: 4px whitesmoke solid;
    border-radius: 10px;
    box-shadow: 7px 7px 20px #69113E;
    padding: 6px;
    padding-right: 35px;
    font-family: 'Solitreo', cursive;
    line-height: 35px;
    margin-top: 150px;
    color: #69113E;
    background-color: whitesmoke;
}

.container{
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 5%;
}
  
header{
    text-align: center;
    line-height: 70px;
}

h2{
    font-family: 'Solitreo', cursive;
    margin-left: 23%;
    text-decoration: underline;
    color: #69113E;
}

p{
    text-align: center;
    font-family: 'Solitreo', cursive;
    color: #69113E;
    text-decoration:underline;
}

.alreadyBought{
    text-decoration: line-through;
    color: #D28CB0 ;
}

.fa-duotone .fa-check{
   width: 5px;
   height: 5px;
   color: green;
}

.fa-solid .fa-xmark-large{
    width: 5px;
    height: 5px;
    color: red;
}

.cake{
    border-radius: 10px;
    box-shadow: 7px 7px 20px #69113E;
    margin-left: 68px;
    margin-top: -150px;
}

dl{
    text-align: center;
    line-height: 20px;
    font-family: 'Itim', cursive;
    color: white;
}

dt{
    margin-left: 40px;
    color: #69113E;
}

.yummy{
    text-align: center;
    text-decoration: none;
    color: #69113E;
    margin-left: 11%;
    font-family: 'Itim', cursive;
}